<%= stylesheet_link_tag params[:controller] %>
<% content_for :company_image_wide do %>
    <div class="hero-unit" align="center">
      <%= image_tag @company.wide_image.url(:large) %>
    </div>
    <div class="container">
      <div class="row-fluid">
             <span class="span4 titleImageCaption">
                        <h1 class="heading">
                          <%= @company.name %>
                          <small><%= @company.description %></small>
                        </h1>
             </span>
      </div>
    </div>
    <header class="navbar secondary-navbar">
      <div class="navbar-inner secondary-navbar-inner">
        <div class="container">
          <div class="row-fluid">
            <div class="span12">
                <%= render 'invest_form' %>
                <%= render 'follow_form' %>
            </div>
          </div>
        </div>
      </div>
    </header>
    </div>
<% end %>



<div class="container container-2">
  <div class="row-fluid">
        <span class="span4">
          <div class="page-header">
            <h2>Who
              <small>The Team</small>
            </h2>
          </div>
          <ul>
            <%= render :partial => "companies/show/founder", :collection => @founders %>
          </ul>
        </span>
        <span class="span8">
          <div class="page-header">
            <h2>What
              <small>The Product</small>
            </h2>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam convallis quam at justo condimentum
            condimentum. Fusce arcu felis, fringilla nec varius a, rhoncus a libero. Donec ut ligula vitae leo
            pellentesque varius.</p>
          <img src="http://placehold.it/850x300"
               class="image">
        </span>
  </div>
</div>